@page
@model CleanTasks.RazorGUI.Pages.PermissionAdmin.DetailsModel
@{
    ViewData["Title"] = "Details";
}

<main class="container-fluid main-container">
    <section class="card mb-2 mt-2" style="max-width: 30rem;">
        <section class="card-header">Area Permissions for @Model.UserName</section>
        <section class="card-body">
            <div class="form-group">
                <div class="dropdown">                  
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Available area permission
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        @if (@Model.AvailableAreas != null && @Model.AvailableAreas.Any())
                        {
                            @foreach (var area in @Model.AvailableAreas)
                            {
                                <a class="dropdown-item" 
                                   asp-page="/PermissionAdmin/ConfirmAdd" 
                                   asp-route-userid="@Model.UserId" 
                                   asp-route-areaid="@area.TodoAreaId" 
                                   asp-route-username="@Model.UserName" 
                                   asp-route-areaname="@area.Name">@area.Name</a>
                            }
                        }
                        else
                        {
                            <div class="dropdown-item" >No available area permissions</div>
                        }
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Current area permissions</label>
                <ul class="list-group">
                    @if (@Model.Permissions != null && @Model.Permissions.Any())
                    {
                        @foreach (var permission in @Model.Permissions)
                        {
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                @permission.AreaName
                                <a class="badge badge-danger badge-pill" 
                                   asp-page="/PermissionAdmin/ConfirmRemove"
                                   asp-route-userid="@Model.UserId" 
                                   asp-route-username="@Model.UserName" 
                                   asp-route-areaname="@permission.AreaName"
                                   asp-route-AreaPermissionId="@permission.Id">Remove</a>
                            </li>
                        }
                    }
                    else
                    {
                        <li class="list-group-item d-flex justify-content-between align-items-center">No permissions assigned</li>
                    }

                </ul>
            </div>
            <div >
                <a asp-page="/PermissionAdmin/Workspace">Back to user list</a>
            </div>
        </section>
    </section>
</main>