@page
@model CleanTasks.RazorGUI.Pages.PermissionAdmin.WorkspaceModel
@{
    ViewData["Title"] = "Area Permissions";
}
<main class="container-fluid main-container">
    <section class="card mb-2 mt-2" style="max-width: 50rem;">
        <div class="card-body">
            <table class="table table-sm table-light table-striped table-hover">
                <thead>
                    <tr>
                        <th>
                            <a asp-page="/PermissionAdmin/Workspace" asp-route-sort="UserName" asp-route-currentsort="@Model.CurrentSort" asp-route-sortorder="@Model.SortOrder">Username</a>
                            <vc:icon-sort property-name="UserName" sort-order="@Model.SortOrder" sort-column="@Model.Sort"></vc:icon-sort>
                        </th>
                        <th>
                            <a asp-page="/PermissionAdmin/Workspace" asp-route-sort="FirstName" asp-route-currentsort="@Model.CurrentSort" asp-route-sortorder="@Model.SortOrder">First name</a>
                            <vc:icon-sort property-name="FirstName" sort-order="@Model.SortOrder" sort-column="@Model.Sort"></vc:icon-sort>
                        </th>
                        <th>
                            <a asp-page="/PermissionAdmin/Workspace" asp-route-sort="LastName" asp-route-currentsort="@Model.CurrentSort" asp-route-sortorder="@Model.SortOrder">Last name</a>
                            <vc:icon-sort property-name="LastName" sort-order="@Model.SortOrder" sort-column="@Model.Sort"></vc:icon-sort>
                        </th>
                        <th>Permissions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var permission in Model.UserPermissions)
                    {
                        <tr>
                            <td><a asp-page="/PermissionAdmin/Details" asp-route-userId="@permission.Id" asp-route-userName="@permission.UserName">@permission.UserName</a></td>
                            <td>@permission.FirstName</td>
                            <td>@permission.LastName</td>
                            <td>
                                <ul>
                                    @foreach (var area in permission.PermittedAreas)
                                    {
                                        <li>@area</li>
                                    }
                                </ul>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </section>
</main>