@page
@model TodoTasks.RazorGUI.Pages.PermissionAdmin.ConfirmRemoveModel
@{
    ViewData["Title"] = "Remove Area Permissions";
}

<main class="container-fluid main-container">
    <form class="card mb-2 mt-2" style="max-width: 20rem;" method="post">
        <input asp-for="@Model.AreaPermissionId" />
        <input asp-for="@Model.UserName" />
        <input asp-for="@Model.AreaName" />
        <input asp-for="@Model.UserId" />
        <section class="card-header">Confirm removal of area permission</section>
        <section class="card-body">
            Do you want to remove permission to '@Model.AreaName' from user '@Model.UserName'?
        </section>
        <section class="card-footer">
            <button class="btn-primary btn" type="submit">Yes</button>
            <a class="btn-danger btn" asp-page="/PermissionAdmin/Details" asp-route-userId="@Model.UserId" asp-route-userName="@Model.UserName">No</a>
        </section>
    </form>
</main>
