@page "{id:int?}"
@model CleanTasks.RazorGUI.Pages.Tasks.EditModel

<main class="container-fluid main-container">
    <form class="card mt-2" style="max-width: 400px;" method="post">
        <section class="card-header">
            Edit area
        </section>
        <section class="card-body">
            <div class="form-group">
                <div>Current area name</div>
                <div>@Model.OldAreaName</div>
            </div>
            <div class="form-group">
                <label asp-for="@Model.NewAreaName"></label>
                <input asp-for="@Model.NewAreaName" class="form-control" />
                <span asp-validation-for="@Model.NewAreaName" class="form-text text-danger small"></span>
            </div>
            <input asp-for="@Model.CurrentAreaId"/>
        </section>
        <section class="card-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
            <a class="btn btn-secondary" asp-page="/Tasks/Workspace">Cancel</a>
        </section>
    </form>
</main>
