@page "{id:int?}"
@model CleanTodoTasks.RazorGUI.Pages.Tasks.CreateTodoModel

@{
    ViewData["Title"] = "Create new Todo";
}

@section Styles {
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.css" rel="stylesheet">
}

<main class="container-fluid main-container">
    <form class="card mt-2" style="max-width: 1000px;" method="post">
        <input asp-for="@Model.CurrentArea" />
        <section class="card-header">
            Create new Todo Task


            <label class="notification-bell-container  float-lg-right " title="Notify assigned user about changes">
                <input asp-for="@Model.Notify" class="notification-bell-input" type="checkbox" />
                <span class="oi oi-bell notification-bell"></span>
            </label>

        </section>
        <section class="card-body">
            <div class="form-group">
                <label asp-for="@Model.Title"></label>
                <input asp-for="@Model.Title" class="form-control" />
                <span asp-validation-for="@Model.Title" class="form-text text-danger small"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.AssignedTo"></label>
                <select asp-for="@Model.AssignedTo" asp-items="@Model.Users" class="form-control">
                    <option></option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="@Model.TodoTypeId"></label>
                <select asp-for="@Model.TodoTypeId" asp-items="@Model.TodoTypes" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Description"></label>
                <textarea id="editor" asp-for="@Model.Description"></textarea>
                <span asp-validation-for="@Model.Description" class="form-text text-danger small"></span>
            </div>
        </section>
        <section class="card-footer">
            <button type="submit" class="btn btn-Success">Save</button>
            <a class="btn btn-secondary" asp-page="/Tasks/Workspace" asp-route-id="@Model.CurrentArea">Cancel</a>
        </section>

    </form>
</main>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.js"></script>

    <script>
        $(document).ready(function () {
            $('#editor').summernote({
                height: 250,
                toolbar: [
                    // [groupName, [list of button]]
                    ['style', ['bold', 'italic', 'underline', 'clear', 'fontsize', 'fontname', 'color']],                   
                    ['para', ['ul', 'ol', 'paragraph', 'height']],
                    ['height', ['undo', 'redo']]
                ]
            });
        });
    </script>
}