@page "{id:int?}"

@model CleanTodoTasks.RazorGUI.Pages.WorkspaceModel
@{
    ViewData["Title"] = "Workspace";
}
<main class="container-fluid main-container">
    <partial name="_Errors" />
    <div class="row task-container">
        <section class="col-xl-2 col-lg-3 border-right task-area-list">
            @if (Model.IsAdmin)
            {
                <div class="text-center">
                    <a class="btn btn-primary mt-2 mb-2" asp-page="/Tasks/AddArea"><span class="oi oi-plus"></span></a>
                </div>
            }

            <ul class="list-group list-group-flush">
                @if (@Model.Areas != null && @Model.Areas.Any())
                {
                    @foreach (var area in @Model.Areas)
                    {
                        <li class="list-group-item task-area-list-item">
                            <div class="task-area-list-item">
                                <a asp-route-id="@area.TodoAreaId" class="task-area-list-item-link ellipsis">@area.Name</a>
                                
                            </div>
                        </li>
                    }
                }
                else
                {
                    <li class="list-group-item task-area-list-item">No areas to display</li>
                }
            </ul>
        </section>
        <section class="col-xl-10 col-lg-9" style="padding: 0">
            @if (Model.Id.HasValue)
            {
                <vc:todo-list area-id="@Model.Id.Value" area-name="@Model.CurrentAreaName" todos="@Model.Todos"></vc:todo-list>
            }

        </section>
    </div>

</main>