@using TodoTasks.RazorGUI.Models
@using System.Text.RegularExpressions
@using System.Net
@using TodoTasks.OpenIdConnectAuth.Auth
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@model TodoListComponentModel

<nav class="navbar navbar-expand-lg navbar-light bg-light ">
    <b style="max-width: 15rem;" class="navbar-brand ellipsis" title="@Model.TodoAreaName">
        @Model.TodoAreaName
        @if ((await AuthorizationService.AuthorizeAsync(User, Policies.Admin)).Succeeded)
        {
            <span>
                <a asp-page="EditArea" asp-route-id="@Model.TodoAreaId"><span class="oi oi-pencil"></span></a>
                <a asp-page="DeleteArea" asp-route-id="@Model.TodoAreaId"><span class="oi oi-trash"></span></a>
            </span>
        }

    </b>
    <div class="navbar-text ml-auto">
        <a class="btn btn-secondary mr-2 btn-sm text-white" asp-route-id="@Model.TodoAreaId" asp-route-refresh="true" title="Reload page"><span class="oi oi-reload"></span></a>
        <a class="btn btn-secondary btn-sm text-white" asp-page="/Tasks/CreateTodo" asp-route-id="@Model.TodoAreaId" title="Create new todo"><span class="oi oi-plus"></span></a>
    </div>
</nav>
<section>
    <table class="table table-sm table-light table-striped table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th></th>
                <th>Title</th>
                <th>Description</th>
                <th class="single-line">Assigned To</th>
                <th>Type</th>
                <th>Status</th>
                <th>Close</th>
                <th>Created</th>
                <th>Updated</th>
                <th class="single-line">Created by</th>
                <th class="single-line">Updated by</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Todos)
            {
                <tr>
                    <td><a asp-page="/Tasks/EditTodo" asp-route-id="@item.TodoId">@item.TodoId</a></td>
                    <td></td>
                    <td style="max-width:5rem;">
                        <div class="ellipsis">@item.Title</div>
                    </td>
                    <td style="max-width:7rem;">
                        <div class="ellipsis">@WebUtility.HtmlDecode(@Regex.Replace(@item.Description, "<[^>]*(>|$)", string.Empty))</div>
                    </td>
                    <td>@item.AssignedTo</td>
                    <td>@item.Type</td>
                    <td>@item.Status</td>
                    <td>@item.CloseReason</td>
                    <td class="single-line">@item.Created?.ToString("yyyy-MM-dd")</td>
                    <td class="single-line">@item.Updated?.ToString("yyyy-MM-dd")</td>
                    <td>@item.CreatedBy</td>
                    <td>@item.UpdatedBy</td>
                </tr>
            }
        </tbody>
    </table>
</section>
